/*********************
CSS PRUEBA
*********************/

html *
{
   font-size: 1em;
   color: #000;
   font-family: Helvetica !important;
}

.cascaron{
	width:1000px;
	height:auto;
	margin: auto;
	border-left: 5px solid #CBCBCB;
	border-right: 5px solid #CBCBCB;
	margin-top: -10px !important;
}

.header{
	width:auto;
	height:auto;
	background-color: #FFF9F1;
}

.menu{
	overflow: auto;
	width: 1000px;
	height: 50px;
	margin: auto;
	margin-top: 0 !important;
	float: none;
	border-top: 3px solid #CBCBCB;
}

.logo{
	font-size: 2em;
	margin-left: 20px;
	padding-top: 30px;
	color: #595959;
	width:200px;
	float:left;
}

.login{
	height: 100px;
	width: 780px;
	float: left;
	text-align: right;	
}

#carrito{
	margin-left: 450px;
	height:25px;
	width: 250px;
	background: #FB3C8B;
	border: 2px solid #CBCBCB;
	padding-top: 5px;
	text-align: center;
}

#carrito a{
	color: #FFF;
	text-decoration: none;
}

.linea {
    border:1px solid #CBCBCB;
    overflow: auto;
}

ul#login{
	margin:20px;
}

ul#login li{
	display: inline;
}

ul#login li a{
	text-decoration: none;
	margin-left:120px;
}

ul#list-nav {
  list-style:none;
  margin:20px;
  padding:0;
  width:675px
}

ul#list-nav li {
  display:inline
}

ul#list-nav li a {
  text-decoration:none;
  font-size:.8em;
  padding:5px 0;
  width:130px;
  float:left;
  text-align:center;
  border-left:1px solid #1807b6;
  text-transform: uppercase;
}

ul#list-nav li a:hover {
  color:#839349;
}

.contenido{
	width: 1000px;
	height: 500px;
	background-color: #FFF9F1;
	margin: auto;
	margin-top: 30px;	
}

.barraSubmenu{
	padding-top:1px;
	width: auto;
	height: 75px;
}

ul#submenu {
  list-style:none;
  margin:20px;
  padding:0;
  width:675px
}

ul#submenu li {
  display:inline
}

ul#submenu li a {
  text-decoration:none;
  text-transform: uppercase;
  font-size: .8em;
  color: #000;
  background-color: #CBCBCB;
  padding:5px 0;
  width:130px;
  float:left;
  text-align:center;
  border-left:3px solid #FFF;
}

.activo{
	font-weight: bold;
}

.activo2{
	font-weight: bold;
	background: #919191;
}

ul#submenu li a:hover {
  color:#FFF;
  background: #919191;
}

.flexslider{
	width:750px;
	margin: auto !important;
}

.slider{
	width:960px;
	margin: auto;
	background: #CBCBCB;
}