@import url(normalize.css);
@import url(csswizardry-grid.css);
@import url(bootstrap.min.css);
/* line 3, ../sass/screen.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 8, ../sass/screen.scss */
label {
  display: inline;
  padding-right: 20px;
}

/* line 13, ../sass/screen.scss */
textarea {
  margin-top: 10px;
}

/* line 17, ../sass/screen.scss */
ul {
  margin: 0;
  padding: 0;
}
/* line 20, ../sass/screen.scss */
ul li {
  list-style: none;
  float: left;
}

/* line 30, ../sass/screen.scss */
.mainbar {
  height: 62px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-left: 20px;
}
/* line 35, ../sass/screen.scss */
.mainbar ul {
  padding-top: 21px;
}
/* line 37, ../sass/screen.scss */
.mainbar ul li {
  padding-right: 30px;
}
/* line 40, ../sass/screen.scss */
.mainbar ul li:first-child a {
  font-size: 1.6em;
}
/* line 44, ../sass/screen.scss */
.mainbar ul li a {
  font-size: 1.4em;
  text-transform: uppercase;
}
/* line 48, ../sass/screen.scss */
.mainbar ul li:last-child {
  padding-left: 270px;
}
/* line 50, ../sass/screen.scss */
.mainbar ul li:last-child a {
  text-transform: none;
}
/* line 52, ../sass/screen.scss */
.mainbar ul li:last-child a span {
  border-bottom: 1px dotted #000;
}

/* line 61, ../sass/screen.scss */
.subbar {
  height: 52px;
  background-color: #000;
}
/* line 65, ../sass/screen.scss */
.subbar ul.subnav {
  padding-top: 15px;
}
/* line 67, ../sass/screen.scss */
.subbar ul.subnav li {
  padding-left: 20px;
}
/* line 72, ../sass/screen.scss */
.subbar ul.subnav li a {
  color: #eee;
  font-size: 1.25em;
}
/* line 75, ../sass/screen.scss */
.subbar ul.subnav li a:hover {
  color: white;
}

/* line 83, ../sass/screen.scss */
.two-thirds {
  padding: 10px 20px 10px 40px;
}
/* line 86, ../sass/screen.scss */
.two-thirds .pager {
  margin: 0;
  text-align: center;
}
/* line 90, ../sass/screen.scss */
.two-thirds .pager li {
  float: none;
}
/* line 95, ../sass/screen.scss */
.two-thirds .placeholder {
  text-align: center;
  padding: 0 20px 10px 20px;
  background-color: #eee;
  height: 520px;
  position: relative;
}
/* line 102, ../sass/screen.scss */
.two-thirds .placeholder img {
  height: 83%;
}
/* line 106, ../sass/screen.scss */
.two-thirds .placeholder .pagination {
  margin: 0;
  padding-top: 5px;
}
/* line 109, ../sass/screen.scss */
.two-thirds .placeholder .pagination h5 {
  margin: 0;
  display: inline;
  padding-left: 10px;
}

/* line 118, ../sass/screen.scss */
.one-third {
  padding-right: 20px;
}
/* line 120, ../sass/screen.scss */
.one-third .btn {
  margin-top: 10px;
}
/* line 124, ../sass/screen.scss */
.one-third .tag {
  display: none;
}
